<div class="row">
    <div class="col-xs-12">
        <div class="flat-panel">

            <div class="flat-panel-header">
                <h4 class="flat-panel-heading">Wyszkiwanie i filtracja</h4>
            </div>
            <div class="flat-panel-body">
                <div class="form-horizontal">

                    <div class="form-group">
                        <label for="filter-by-name" class="col-sm-3 col-xs-12 control-label">Wyszukaj po nazwie</label>

                        <div class="col-sm-9 col-xs-12">
                            <input id="filter-by-name" type="text" class="form-control">
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="flat-panel">
            <div class="flat-panel-header">
                <h3 class="flat-panel-heading">Lista branz</h3>
            </div>
            <div class="flat-panel-body">
                <table class="no-border table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="text-center" style="width: 70px;">ID</th>
                        <th>Nazwa</th>
                    </tr>
                    </thead>
                    <tbody class="no-border">
                    <tr>
                        <td class="text-center">1</td>
                        <td>Sklep internetowy</td>
                    </tr>
                    <tr>
                        <td class="text-center">2</td>
                        <td>Wydawnictwo</td>
                    </tr>
                    <tr>
                        <td class="text-center">3</td>
                        <td>Producent odzieży</td>
                    </tr>
                    <tr>
                        <td class="text-center">4</td>
                        <td>Producent suplementów</td>
                    </tr>
                    <tr>
                        <td class="text-center">5</td>
                        <td>Agencja reklamowa</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>